<table class="table table-striped" id="<%= dom_id course %>">
  <tr>
    <th scope="col">Title</th>
    <th scope="col">Description</th>
  </tr>

  <tr>
    <td><%= course.title %><td>
    <td><%= course.description %><td>
  </tr>
</table>